:root {
    --background-color: #1E252B;
    --main-text-color: #ffffff;
    --white-text-38-color: rgba(255, 255, 255, 0.38);
    --white-text-55-color: rgba(255, 255, 255, 0.55);
    --white-text-78-color: rgba(255, 255, 255, 0.78);
    --white-text-80-color: rgba(255, 255, 255, 0.80);
    --white-text-90-color: rgba(255, 255, 255, 0.90);
    --status-text-color: rgba(255, 165, 55, 0.55);
    --button-color: #FF6E30;
    --active-card-status: #FFA537;
    --slider-disactive-color: #283036;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1255px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins';
    font-size: 18px;
}

.header {
    font-size: 16px;
}

.header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
}

.nav-list {
    display: flex;
}

.nav-list-item:not(:last-child) {
    margin-right: 41px;
}

.nav-wrapper {
    background-color: var(--background-color);
    font-weight: 500;
    color: var(--white-text-55-color);
}

.header-categories {
    border: none;
    background-color: var(--background-color);
}

.header-button-list {
    display: flex;
    align-items: center;
}

.button-login {
    border: none;
    background-color: var(--background-color);
    color: var(--white-text-78-color);
    font-weight: 600;
    margin-right: 41px;
}

.button-sign {
    color: #FDF5FF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: var(--button-color);
    padding: 12px 28px;
}

/* First section */

.first-section {
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.first-section-title {
    color: var(--white-text-90-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    width: 600px;
    padding-top: 78px;
}

.span-point {
    color: var(--button-color);
}

.first-section-text {
    color: var(--white-text-55-color);
    line-height: 30px;
    margin-top: 30px;
    width: 487px;
}

.form-first {
    align-items: center;
}

.first-input {
    background-color: var(--slider-disactive-color);
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    padding: 20px;
    padding-left: 18px;
    padding-right: 250px;
    margin-top: 60px;
    font-size: 14px;
}

.button-search {
    background-color: var(--button-color);
    color: var(--main-text-color);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 36px;
    margin-left: -145px;
}

.social-networks-list {
    display: flex;
    margin-top: 121px;
}

.first-social-networks {
    margin-top: 110px;
}

.social-networks-items {
    width: 36px;
    height: 36px;
}

.social-networks-items:not(:last-child) {
    margin-right: 31px;
}

/* second section */

.second-part-with-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.second-section-title {
    color: var(--white-text-90-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 200px;
    margin-bottom: 25px;
}

.second-section-text {
    color: var(--white-text-55-color);
    font-weight: 500;
    line-height: 30px;
    width: 427px;
    margin: 0 auto;
}

.card-list {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    width: 392px;
    border-radius: 15px;
    padding: 33px;
}

.card:not(:nth-child(3n)) {
   margin-right: 24px;
}

.card:not(:nth-child(-n+3)) {
    margin-top: 100px;
}

.app-info {
    display: flex;
    align-items: center;
}

.app-img {
    width: 64px;
    display: block;
    margin-right: 30px;
}

.app-name {
    color: var(--white-text-78-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3px;
}

.app-status {
    color: var(--status-text-color);
}

.app-text {
    color: var(--white-text-55-color);
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

.app-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.app-icon-wrapper {
    display: flex;
}

.like {
    margin-right: 25px;
}

.app-icon-wrapper:nth-child(2) {
    margin-top: 165px;
    margin-left: 25px;
}

.app-icon-wrapper:not(:last-child) {
    height: 28px;
}

.link-visit {
    color: var(--white-text-55-color);
    font-size: 16px;
    font-weight: 600;
    margin-right: 35px;
}

.button-load-more {
    background-color: var(--background-color);
    color: var(--button-color);
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 17px 38px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

/* brand section */

.brand-section-border {
    margin-top: 200px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(44, 53, 61, 0.20);
    background-image: radial-gradient(ellipse farthest-corner at 0% 0%, rgba(255, 72, 66, 0.40), rgba(44, 53, 61, 0.00) 150px);
    background-repeat: no-repeat;
}

.brand-section-title {
    color: var(--white-text-80-color);
    font-size: 24px;
    font-weight: 500;
    margin-top: 55px;
    text-align: center;
}

.brand-logos {
    margin: 55px 82px;
}

.logos-list {
    display: flex;
    justify-content: center;
}

.logos-item:not(:last-child) {
    margin-right: 107px;
}

/* Section tools */

.section-tools-border {
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
}

.tools-section-title {
    color: var(--white-text-90-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}

.tools-section-text {
    color: var(--white-text-55-color);
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    width: 427px;
}

.button-explore-more {
    background-color: var(--button-color);
    color: var(--main-text-color);
    font-weight: 500px;
    border: none;
    border-radius: 8px;
    padding: 16px 40px;
    margin-top: 60px;
}

.tools-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.tools-card-item {
    width: 288px;
    border-radius: 15px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 22px;
    padding-right: 21px;
}

.tools-card-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.tools-card-item:not(:nth-child(-n+2)) {
    margin-top: 50px;
}

.tool-info {
    display: flex;
    align-items: center;
}

.tool-app-icon {
    width: 64px;
}

.tools-info-text {
    margin-left: 30px;
}

.tool-name {
    color: var(--white-text-78-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 3px;
}

.tool-text {
    color: var(--white-text-55-color);
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
}

.tool-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.tool-icon-wrapper {
    display: flex;
}

.tool-link-visit {
    color: var(--white-text-55-color);
    font-size: 16px;
    font-weight: 600;
    margin-right: 34px;
}

/* section with man */

.section-reviews {
    margin-top: 200px;
}

/* section investor */

.section-investor {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.investor-title {
    color: var(--white-text-90-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}

.investor-text {
    color: var(--white-text-55-color);
    width: 427px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 25px;
}

.investor-form {
    margin-top: 100px;
    align-items: center;
    margin-bottom: 240px;
}

.investor-input {
    background-color: var(--slider-disactive-color);
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 24px;
    padding-right: 401px;
    font-size: 14px;
}

.button-join-us {
    border: none;
    background-color: var(--button-color);
    color: var(--main-text-color);
    border-radius: 8px;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 600;
    margin-left: -145px;
}

/* footer */

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.all-footer-sections {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 98px;
    padding-top: 70px;
}

.copiright {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-text-90-color);
    margin-top: 25px;
}

.copiright-info {
    color: var(--white-text-55-color);
    font-size: 14px;
    line-height: 25px;
    margin-top: 21px;
    width: 260px;
}

.footer-title {
    color: var(--white-text-90-color);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-item {
    color: var(--white-text-55-color);
    font-size: 16px;
    font-weight: 500;
}

.contact-item:not(:last-child) {
    margin-bottom: 10px;
}

.f-categories-item:not(:last-child) {
    margin-bottom: 10px;
}

.company-info-item:not(:last-child) {
    margin-bottom: 10px;
}